<ion-header>
  <ion-toolbar color="dark">
    <ion-title style="font-family: 'Rajdhani', sans-serif;" *ngIf="!contacto._id">Nuevo Contacto</ion-title>
    <ion-title style="font-family: 'Rajdhani', sans-serif;" *ngIf="contacto._id">Editar Contacto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon color="light" slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="was-validated" #contactoForm="ngForm" (ngSubmit)="nuevoContacto(contactoForm)" autocomplete="off">

    <ion-item hidden>
      <ion-input type="text" [(ngModel)]="contacto._id" name="_id" clearInput></ion-input>
    </ion-item>

    <ion-item *ngIf="contacto._id">
      <ion-label style="font-family: 'Rajdhani', sans-serif;" position="floating">Editar nombre<ion-text color="danger">
          *</ion-text>
      </ion-label>
      <ion-input type="text" [(ngModel)]="contacto.nombre" name="nombre" clearInput required value="contacto.nombre">
      </ion-input>
    </ion-item>

    <ion-item *ngIf="contacto._id">
      <ion-label style="font-family: 'Rajdhani', sans-serif;" position="floating">Editar fecha de nacimiento<ion-text
          color="danger">*</ion-text>
      </ion-label>
      <ion-datetime style="font-family: 'Rajdhani', sans-serif;" [(ngModel)]="contacto.fecha_nacimiento"
        name="fecha_nacimiento">{{contacto.fecha_nacimiento}}</ion-datetime>
    </ion-item>

    <ion-item *ngIf="contacto._id">
      <ion-label style="font-family: 'Rajdhani', sans-serif;" position="floating">Editar correo<ion-text color="danger">
          *</ion-text>
      </ion-label>
      <ion-input required type="text" [(ngModel)]="contacto.correo" name="correo" clearInput value="contacto.correo">
      </ion-input>
    </ion-item>

    <ion-item *ngIf="contacto._id">
      <ion-label style="font-family: 'Rajdhani', sans-serif;" position="floating">Editar dirección<ion-text
          color="danger">*</ion-text>
      </ion-label>
      <ion-input required type="text" [(ngModel)]="contacto.direccion" name="direccion" clearInput
        value="contacto.direccion"></ion-input>
    </ion-item>


    <ion-row *ngIf="contacto._id" style="margin-top: 5px; margin-bottom:5px">
      <ion-col size="10">

        <ion-item>
          <ion-label style="font-family: 'Rajdhani', sans-serif;" position="floating">Celulares</ion-label>
          <ion-input type="number" [(ngModel)]="celularInput" name="celularInput" clearInput></ion-input>

        </ion-item>

      </ion-col>

      <ion-col >
          <ion-icon style="margin-top: 25px; " name="add-circle-outline" align="center" (click)="addPhone()" size="large">
            </ion-icon>
      </ion-col>
     
    </ion-row>

    <div *ngIf="contacto._id" style="text-align:center">
      <ion-chip *ngFor="let phone of celularArray" outline color="dark" (click)="remove(phone)">
        <ion-icon name="call"></ion-icon>
        <ion-label>{{phone}}</ion-label>
        <ion-icon name="close-circle"></ion-icon>
      </ion-chip>
    </div>

    <ion-input hidden *ngIf="contacto._id" [(ngModel)]="contacto.celulares" name="celulares">{{ celularArray | json }} </ion-input>


    <ion-item *ngIf="!contacto._id">
      <ion-label style="font-family: 'Rajdhani', sans-serif;" position="floating">Nombre<ion-text color="danger">*
        </ion-text>
      </ion-label>
      <ion-input type="text" [(ngModel)]="contacto.nombre" name="nombre" clearInput required></ion-input>
    </ion-item>

    <ion-item *ngIf="!contacto._id">
      <ion-label style="font-family: 'Rajdhani', sans-serif;" position="floating">Fecha de nacimiento<ion-text
          color="danger">*</ion-text>
      </ion-label>
      <ion-datetime style="font-family: 'Rajdhani', sans-serif;" [(ngModel)]="contacto.fecha_nacimiento"
        name="fecha_nacimiento"></ion-datetime>
    </ion-item>

    <ion-item *ngIf="!contacto._id">
      <ion-label style="font-family: 'Rajdhani', sans-serif;" position="floating">Correo<ion-text color="danger">*
        </ion-text>
      </ion-label>
      <ion-input required type="text" [(ngModel)]="contacto.correo" name="correo" clearInput></ion-input>
    </ion-item>

    <ion-item *ngIf="!contacto._id">
      <ion-label style="font-family: 'Rajdhani', sans-serif;" position="floating">Dirección<ion-text color="danger">*
        </ion-text>
      </ion-label>
      <ion-input required type="text" [(ngModel)]="contacto.direccion" name="direccion" clearInput></ion-input>
    </ion-item>

    <ion-row *ngIf="!contacto._id" style="margin-top: 5px; margin-bottom:5px">
      <ion-col size="10">

        <ion-item>
          <ion-label style="font-family: 'Rajdhani', sans-serif;" position="floating">Celulares</ion-label>
          <ion-input type="number" [(ngModel)]="celularInput" name="celularInput" clearInput></ion-input>

        </ion-item>

      </ion-col>

      <ion-col>
        <ion-icon style="margin-top: 25px; " name="add-circle-outline" align="center" (click)="addPhone()" size="large">
        </ion-icon>
      </ion-col>

    </ion-row>

    <div style="text-align:center" *ngIf="!contacto._id">
      <ion-chip *ngFor="let phone of celularArray" outline color="dark" (click)="remove(phone)">
        <ion-icon name="call"></ion-icon>
        <ion-label>{{phone}}</ion-label>
        <ion-icon name="close-circle"></ion-icon>
      </ion-chip>
    </div>

    <ion-input hidden *ngIf="!contacto._id" [(ngModel)]="contacto.celulares" name="celulares">{{ celularArray | json }}
    </ion-input>


    <ion-item-divider></ion-item-divider>

    <ion-button style="margin-left: 3px; margin-right: 3px; margin-top: 5px; font-family: 'Rajdhani', sans-serif;"
      type="submit" expand="block" fill="outline" color="dark">Guardar<ion-icon slot="end" name="save"></ion-icon>
    </ion-button>

  </form>
</ion-content>