<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons style="margin-bottom: auto" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-family: 'Rajdhani', sans-serif;" align="center">Ingresar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <div text-center>
        <img src="https://image.flaticon.com/icons/png/512/277/277209.png"
        class="Card-icon">
    </div>

  <ion-item color="medium">
    <ion-label style="font-family: 'Rajdhani', sans-serif;" position="floating">Correo</ion-label>
    <ion-input required type="text" [(ngModel)]="correo" clearInput></ion-input>
  </ion-item>

  <ion-item color="medium">
    <ion-label style="font-family: 'Rajdhani', sans-serif;" position="floating">Contraseña</ion-label>
    <ion-input required type="password" [(ngModel)]="password" clearInput></ion-input>
  </ion-item>

  <br>

  <ion-button style="margin-left: 3px; margin-right: 3px; margin-top: 5px; font-family: 'Rajdhani', sans-serif;"
    type="submit" expand="block" fill="outline" (click)="login()" color="dark">Iniciar Sesion<ion-icon slot="end"
      name="log-in"></ion-icon>
  </ion-button>

  <ion-button style="margin-left: 3px; margin-right: 3px; margin-top: 5px; font-family: 'Rajdhani', sans-serif;"
    type="submit" expand="block" fill="outline" (click)="register()" color="dark">Registrar<ion-icon slot="end"
      name="person-add"></ion-icon>
  </ion-button>

</ion-content>